.about-wrapper {
  display: flex;
  height: 77vh;
  flex-direction: column;
  margin-top: 3rem;
}

.a-heading {
  color: var(--black);
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 8rem;
}

.a-text {
  color: var(--text);
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2rem;
}

@media screen and (max-width:780px) {
  .about-wrapper {
    height: 30vh;
    margin-bottom: 35rem;
  }

  .a-heading {
    font-size: 1.8rem;
    line-height: 4rem;
  }

  .a-text {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
}
