.navbar {
  max-width: 100%;
  min-height: 6vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border: 0.5px solid grey;
  border-radius: 25px;
  background: white;
  transition: all .7s ease-in;
  overflow: none;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}

.n-left{
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  gap: 2rem;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-right: 4rem;
  list-style-type: none;
}

.n-list > ul > li:hover {
  cursor: pointer;
  color: var(--orange);
}

/* .n-button {
  flex: 2;
} */

@media screen and (max-width: 768px) {
  .n-logo {
    width: 50px;
  }
}
