.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
  margin-bottom: 23rem;
}

.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 8rem;
}

.i-name > :nth-child(2) {
  color: var(--text);
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2rem;
}

.i-right {
  display: flex;
  position: relative;
  flex: 1;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

/* spinning cube animation */
.stage-cube-cont {
  width: 45%;
  height: 60%;
  top: 0;
  margin-left: 0;
  padding-top: 2rem;
  right: 0;
  overflow: visible;
  animation: fadeIn 1s 1.7s backwards;
  padding: 130px 0;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}

.cubespinner > div {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: 3px solid rgb(239, 132, 132);
    background: rgba(133, 146, 212, 0.4);
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
}

  .cuberspinner > :nth-child(1) {
    font-size: 5rem;
  }

  .face1 {
    transform: translateZ(100px);
  }

  .face2 {
    transform: rotateY(90deg) translateZ(100px);
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }

  .face4 {
    transform:  rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }

  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }

  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
  }


@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateY(-90deg);
  }
}

@media screen and (max-width:520px) {
  .intro {
    flex-direction: column;
    height: 64rem;
    left: 3rem;
    gap: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }

  .i-name > :nth-child(1) {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .i-name > :nth-child(2) {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
  }

  .cubespinner > div {
    width: 5rem;
    height: 4rem;
    margin-bottom: 4rem;
    margin-left: 50vw;
  }

  .cuberspinner > :nth-child(1) {
    font-size: 3rem;
  }
}
