.footer-wrapper {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  margin-top: 5rem;
  width: 100%;
  background: grey;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
  gap: 3.5rem;
  color: var(--orange);
}

.f-icons {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 780px){
  .f-content{
    transform: scale(0.8);
    gap: 1rem;
    background: grey;
  }
}
