.footer-wrapper {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.2rem;
  margin-top: 5rem;
  margin-left: -3rem;
  min-width: 100%;
  background: grey;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  margin-top: 4rem;
  gap: 3.5rem;
  color: var(--orange);
  background: var(--background);
}

.f-icons {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 520px){
  .f-content{
    transform: scale(0.8);
    gap: 1rem;
    background: var(--background);
    min-width: 130.5vw;
    margin: auto -13vw;
  }
}
