.s-container {
  display: flex;
  flex-direction: column;
  height: 77vh;
  width: auto;
  margin-top: 13rem;
  margin-bottom: 13rem;
}


h1 {
  color: var(--black);
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 1rem;
  margin-bottom: 2.6rem;
}

span {
  color: var(--text);
  font-weight: 545;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.s-wrapper {
  margin-bottom: 2.5rem;
}

@media screen and (max-width:700px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  h1 {
    font-size: 1.8rem;
    line-height: 0.5rem;
    margin-bottom: 1.8rem;
  }

  span {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
}
